.add-book-container {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    background-color: #ffffff;
    border: 1px solid #cccccc;
  }
  
  .form-control:focus {
    border-color: #999999;
  }
  
  .btn-primary {
    background-color: #4d84e2;
    border-color: #4d84e2;
  }
  
  .btn-primary:hover {
    background-color: #3a73c7;
    border-color: #3a73c7;
  }
  